.dashboard-component{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    background-color: #040A20;
    color: #FFF;
    font-family: 'Gilroy';
    font-weight: bold;
    overflow: auto;
    margin: 0;
    padding: 0;
    flex: 1;
}
    
.callContainer { 
        display: flex;
        flex-direction: column;
        overflow: hidden;
}
.chatContainer {
    display: none;
}

.callContainer, .chatContainer{
    background: rgba(22, 29, 52, 0.69);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(8.7px);
    -webkit-backdrop-filter: blur(8.7px);
    height: 100%;
}

.callTitle{
    font-size: 2em;
}

.bluebtn{
    background-color: #4285f4;
    color: #FFF;
}

.call-tools{
    background-color: #161D34;
    border-radius: 16px 16px 0 0;
}

.profilePic{
    width: 60px;
    height: 60px; 
    border-radius: 50%; 
    overflow: hidden; 
}

.profilePic img{
    width: 100%;
    height: 100%;
}

.addParticipants{
    background-color: #C42695;
    color: #FFF;
}

.rol{
    opacity: 75%;
}

.callContainer-body {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 15px;
    justify-content: center;
    grid-auto-flow: row;
    overflow: auto;
    padding-right: 16px;
    background-color: #161D34;
}

.callContainer-body::-webkit-scrollbar {
    width: 16px;
}

.callContainer-body::-webkit-scrollbar-track {
    border-radius: 8px;
    background-color: #fff;
    border: 1px solid #fff;
}

.callContainer-body::-webkit-scrollbar-thumb {
    border-radius: 8px;
    border: 3px solid transparent;
    background-clip: content-box;
    background-color: #C42695;
}

.camera {
    width: 100%;
    height: 300px;
    background-color: black;
    color: white;
    border-radius: 15px;
    position: relative;
}

.expand{
    opacity: 0;
    position: absolute;
    top: 0;
    right: 0;
    transition: opacity 0.2s ease;
    cursor: pointer;
}

.camera:hover .expand{
    opacity: 1;
}

.expand:hover{
    color: #C42695;
}

.mic{
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: white;
    border-radius: 50%;
    color: black;
}

.camera span{
    font-size: 1em;
    position: absolute;
    bottom: 0;
}


.chat{
    background-color: #161D34;
    border-radius: 15px;
    height: 90%;
    font-size: 1.2em;
}

.selfuserMensajeContainer, .userMensajeContainer{
    height: auto;
    width: auto;
}

.selfuserMensajeContainer{
    text-align: end;
}

.userMensajeContainer{
    text-align: start;
}

.selfuserMensajeInfo, .userMensajeInfo{
    font-size: 0.6em;
    width: auto;
}

.selfuserMensaje, .userMensaje{
    border-radius: 16px;
    padding: 5px;
    width: auto;
}

.selfuserMensaje{
    background-color: #C42695;
}

.userMensaje{
    background-color: #4285f4;
}

.selfuserMensaje span, .userMensaje span{
    width: auto;
}

.chatProfileImg{
    height: 30px;
    width: 30px;
    border-radius: 50%; 
    overflow: hidden;
    background-color: #4285f4;
    position: relative;
}
.chatProfileImg img{
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.userButton{
    border-radius: 50%;
    background-color: #FFF;
    color: black;
    padding: 7px;
}

.chatBtn{
    display: none;
}