.dashboard-component{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    background-color: #040A20;
    color: #FFF;
    font-family: 'Gilroy';
    font-weight: bold;
    overflow: auto;
    margin: 0;
    padding: 0;
    flex: 1;
}
    
.callContainer { 
        display: flex;
        flex-direction: column;
        overflow: hidden;
}
.chatContainer {
    display: none;
}

.callContainer, .chatContainer{
    background: rgba(22, 29, 52, 0.69);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(8.7px);
    -webkit-backdrop-filter: blur(8.7px);
    height: 100%;
}



.callTitle{
    font-size: 2em;
}

.bluebtn{
    background-color: #4285f4;
    color: #FFF;
}

.profilePic{
    width: 60px;
    height: 60px; 
    border-radius: 50%; 
    overflow: hidden; 
}

.profilePic img{
    width: 100%;
    height: 100%;
}

.addParticipants{
    background-color: #C42695;
    color: #FFF;
}

.rol{
    opacity: 75%;
}

.callContainer-body {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 15px;
    justify-content: center;
    align-items: center;
    grid-auto-flow: row;
    overflow: auto;
    padding-right: 16px;
}

.callContainer-body::-webkit-scrollbar {
    width: 16px;
}

.callContainer-body::-webkit-scrollbar-track {
    border-radius: 8px;
    background-color: #fff;
    border: 1px solid #fff;
}

.callContainer-body::-webkit-scrollbar-thumb {
    border-radius: 8px;
    border: 3px solid transparent;
    background-clip: content-box;
    background-color: #C42695;
}

.camera {
    width: 100%;
    height: 300px;
    background-color: black;
    color: white;
    font-size: 2em;
    border-radius: 15px;
}


.chat{
    background-color: #161D34;
    border-radius: 15px;
    height: 90%;
    font-size: 1.2em;
}

.userMensaje{
    text-align: end;
}
