<app-navbar></app-navbar>
<div class="dashboard-component p-5 d-flex justify-content-center ">
    <div class="callContainer p-4 d-flex flex-column align-items-lg-center col-lg-8">
        <div class="callHeader d-flex justify-content-between align-items-center col-11">
            <span class="callTitle mx-3 col-10">Título de la llamada</span>
            <div><button class="btn bluebtn px-3 mx-3">Salir</button></div>
        </div>
        <div class="callBody mt-2 pb-0 d-flex flex-column align-items-center col-11">
            <div class="callBodyLine1 d-flex align-items-center justify-content-between px-1 col-12">
                <div class="d-flex align-items-center px-2 py-3">
                    <div class="profilePic mx-1">
                        <img class="logo" src="../../../assets/img/KrakenViewLogo.png" alt="Logo">
                    </div>
                    <div class="participantInfo mx-3 d-flex flex-column">
                        <span class="ParticipantName">Nombre participante</span>
                        <span class="Rol">Rol</span>
                    </div>
                </div>
                <div>
                    <button class="btn bluebtn px-3">
                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-people-fill" viewBox="0 0 16 16">
                            <path d="M7 14s-1 0-1-1 1-4 5-4 5 3 5 4-1 1-1 1zm4-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6m-5.784 6A2.24 2.24 0 0 1 5 13c0-1.355.68-2.75 1.936-3.72A6.3 6.3 0 0 0 5 9c-4 0-5 3-5 4s1 1 1 1zM4.5 8a2.5 2.5 0 1 0 0-5 2.5 2.5 0 0 0 0 5"/>
                        </svg>
                        <span class="px-1">10</span>
                    </button>
                    <button class="btn addParticipants px-3 mx-3">
                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-person-fill-add" viewBox="0 0 16 16">
                            <path d="M12.5 16a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7m.5-5v1h1a.5.5 0 0 1 0 1h-1v1a.5.5 0 0 1-1 0v-1h-1a.5.5 0 0 1 0-1h1v-1a.5.5 0 0 1 1 0m-2-6a3 3 0 1 1-6 0 3 3 0 0 1 6 0"/>
                            <path d="M2 13c0 1 1 1 1 1h5.256A4.5 4.5 0 0 1 8 12.5a4.5 4.5 0 0 1 1.544-3.393Q8.844 9.002 8 9c-5 0-6 3-6 4"/>
                        </svg>
                        <span class="px-1">Añadir participantes</span>
                    </button>
                </div>
            </div>
            <div class="callBodyLine2 col-12">

            </div>
        </div>
    </div>
    
    <div class="chatContainer p-4 d-flex flex-column align-items-lg-center col-lg-4">
        <!-- <div class="d-flex align-items-center justify-content-center col-12">
            <div class="d-flex justify-content-between align-items-center col-12">
                <span class="mx-4">Participantes</span>
                <div>
                    <button class="btn bluebtn">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-fullscreen" viewBox="0 0 16 16">
                            <path d="M1.5 1a.5.5 0 0 0-.5.5v4a.5.5 0 0 1-1 0v-4A1.5 1.5 0 0 1 1.5 0h4a.5.5 0 0 1 0 1zM10 .5a.5.5 0 0 1 .5-.5h4A1.5 1.5 0 0 1 16 1.5v4a.5.5 0 0 1-1 0v-4a.5.5 0 0 0-.5-.5h-4a.5.5 0 0 1-.5-.5M.5 10a.5.5 0 0 1 .5.5v4a.5.5 0 0 0 .5.5h4a.5.5 0 0 1 0 1h-4A1.5 1.5 0 0 1 0 14.5v-4a.5.5 0 0 1 .5-.5m15 0a.5.5 0 0 1 .5.5v4a1.5 1.5 0 0 1-1.5 1.5h-4a.5.5 0 0 1 0-1h4a.5.5 0 0 0 .5-.5v-4a.5.5 0 0 1 .5-.5"/>
                        </svg>
                    </button>
                </div>
            </div>
        </div>
        <div class="participantsContainer mt-3">
            <ul class="participants p-0 my-4 d-flex flex-column justify-content-around align-items-center">
                <li class="participantCam col-11"><div>1</div></li>
                <li class="participantCam col-11"><div>2</div></li>
                <li class="participantCam col-11"><div>3</div></li>
                <li class="participantCam col-11"><div>4</div></li>
                <li class="participantCam col-11"><div>5</div></li>
                <li class="participantCam col-11"><div>6</div></li>
            </ul> 
        </div>         -->
    </div>
</div>



