.login-component {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rebeccapurple;
    height: 100%;
    width: 100%;
    mix-blend-mode: difference;
    background-image: radial-gradient(circle at 30% 94%, rgba(245, 245, 245,0.06) 0%, rgba(245, 245, 245,0.06) 50%,rgba(21, 21, 21,0.06) 50%, rgba(21, 21, 21,0.06) 100%),radial-gradient(circle at 59% 19%, rgba(248, 248, 248,0.06) 0%, rgba(248, 248, 248,0.06) 50%,rgba(87, 87, 87,0.06) 50%, rgba(87, 87, 87,0.06) 100%),radial-gradient(circle at 7% 11%, rgba(148, 148, 148,0.06) 0%, rgba(148, 148, 148,0.06) 50%,rgba(254, 254, 254,0.06) 50%, rgba(254, 254, 254,0.06) 100%),linear-gradient(90deg, rgb(189, 189, 189),rgb(205, 205, 205));
}

.background-radial-gradient {
    background-color: transparent;
    background-image: radial-gradient(circle at center center, rgb(71, 71, 71),rgb(8, 8, 8));
    mix-blend-mode: difference;
}

.bg-glass {
    background-color: hsla(0, 0%, 100%, 0.9) !important;
    backdrop-filter: saturate(200%) blur(25px) normal; 
    mix-blend-mode: difference;
}