<div class="login-component d-flex align-items-center justify-content-center">
    <div class="login col-lg-3 col-md-6 col-sm-9 col-xs-12 d-flex justify-content-center py-5">
        <div class="logoContainer">
            <img class="logo" src="../../../assets/img/KrakenViewLogo.png" alt="">
        </div>
        <form class="d-flex col-lg-8 col-sm-8 col-11 flex-column justify-content-between pt-3">
            <span class="logoName col-12 mb-2">Kraken View</span>
            <span class="registerText col-12 mb-3">Inicio de Sesión</span>
            <div class="mb-3">
                <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Correo electrónico" aria-describedby="emailHelp">
            </div>
            <div class="mb-3">
                <input type="password" class="form-control" placeholder="Contraseña" id="exampleInputPassword1">
            </div>
            <div class="row d-flex align-items-stretch justify-content-around mt-5">
                <button type="button" class="IniciarSesionBtn col-lg-5 col-sm-8 col-11 btn d-flex align-items-center justify-content-center"><a routerLink="/dashboard">Iniciar Sesion</a></button>
                <button type="button" class="registrarseBtn mt-lg-0 mt-3 col-lg-5 col-sm-8 col-11 btn d-flex align-items-center justify-content-center"><a routerLink="/signin">Registrarse</a></button>
            </div>
        </form>
    </div>
</div>
