/* Restablecer márgenes y rellenos */
html, body, app-root {
    margin: 0;
    padding: 0;
    height: 100%;
}

/* Ajustar box-sizing */
* {
    box-sizing: border-box;
}

/* Estilos para app-root */
app-root {
    display: block;
    height: 100%;
}

/* Resto de tus estilos */
@font-face {
    font-family: "Gilroy";
    font-weight: bold;
    src: url(assets/fonts/Gilroy-ExtraBold.otf) format('opentype');
}

@font-face {
    font-family: "Gilroy";
    src: url(assets/fonts/Gilroy-Light.otf) format('opentype');
}
