.navbar{
    background: rgb(22,29,52);
    background: linear-gradient(0deg, rgba(22,29,52,1) 0%, rgba(4,10,32,1) 50%, rgba(22,29,52,1) 100%);
    color: #FFF;
    font-family: 'Gilroy';
    font-weight: bold;
    height: auto;
}

.logoContainer, .profileContainer{
    background-color: rebeccapurple;
    width: 40px;
    height: 40px; 
    border-radius: 50%; 
    overflow: hidden; 
}

.logoContainer img, .profileContainer img{
    width: 100%;
    height: 100%;
}

.LogoName{
    font-size: 1.2em;
}

.profileContainer{
    width: 30px;
    height: 30px;
}

.options{
    margin-right: 0;
}

a > span{
    color: #FFF;
    font-family: 'Gilroy';
    font-weight: bold;
    text-align: center;
}

.navbar-toggler{
    border: 0;
}

.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
    outline: none;
    box-shadow: none;
}